<link rel="stylesheet" href="/css/style.css">

<a href="/#index">
    <h1>BON FROMAGE</h1>
</a>

<div class="links">
    <a href="Menu">MENY</a>
    <a href="About"><b>OM OSS</b></a>
    <a href="Locate">HITTA HIT</a>
    <a href="Booking">BOKA BORD</a>
</div>

