@{
    ViewData["Title"] = "Bon Fromage";
}

<h3>Välkommen till oss</h3>

<div class="welcome">
    <p>Välkommen till Bon Fromage - en fransk restaurang mitt i hjärtat av staden.
        Vi serverar högkvalitativ mat och dryck inspirerad av den franska matlagningstraditionen,
        med allt från klassiska rätter till moderna tolkningar. </p>
    <b>Kom och upplev en bit av Frankrike i Sverige!</b>
</div>


