body {
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:black;
    background-image: url("/css/baguettes.jpg");
    background-size: auto 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:100px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: xx-large;
}
h3{
    font-size: xx-large;
}
#menu {
    list-style: none; 
  }
#menu li{
    margin-bottom: 10px;
}
#locate{
    font-size: x-large;
}
#adress{
    font-size: large;
}
#about{
    font-size: x-large;
}
.welcome
{
    text-align: center;
}
.nav-link, a{
    color:saddlebrown;
    font-size: x-large;
    margin-right: 20px; 
    text-decoration: none;
    font-weight: normal; /* ta bort font-weight: bold från tidigare kod */
    transition: all 0.3s ease; /* animera övergången mellan tillstånden */
}
.nav-link, .links{
    display: flex;
    justify-content: center;
}
.nav-link.active, a:hover{
    font-weight: bold;
    color:rgb(52, 26, 8) !important;
}

  